/*pilti stiil*/
img{
    border: 2px solid blueviolet;
    border-radius: 60px;
    width: 60%;
    height: 150px;
    padding: 2%;
}
/* pealkirja stiil */
h1{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: sandybrown;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: peru;
    text-align: center;
    font-size: 1.5em;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: saddlebrown;
    text-align: center;
    font-size: 1.2em;
}

body{
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;

}

ul {
    list-style-type: none;
    border: 2px solid coral;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0;
}

ul > li {
    text-align: center;
    list-style-position: inside;
}
ul > li::before {
    content: "☑"; padding-right: 10px;
}

#issue1 ul {
    list-style-type: none;
    border: none;
    margin-top: 50px;
    text-align: justify;
    padding-left: 50px;
    position: relative;
}

#issue1 p {


    text-align: justify;
    width: 90%;
    margin: 10px 100px 10px 100px;
}

#issue1 ul > li {
    text-align: justify;
    width: 80%;
    list-style-position: outside;
    margin: 10px 100px 10px 100px;
    position: relative;
}
#issue1 ul > li::before {
    content: "☑";
    padding-right: 30px;
    position: absolute;
    left: -50px;
}

#issue2 ul {
    list-style-type: none;
    border: none;
    margin-top: 50px;
    text-align: justify;
    padding-left: 50px;
    position: relative;
}

#issue2 ul > li {
    text-align: left;
    width: 100%;
    list-style-position: outside;
    margin: 10px 50px 10px 50px;
    position: relative;
}
#issue2 ul > li::before {
    content: "☑";
    padding-right: 30px;
    position: absolute;
    left: -50px;
}

#issue2 img {
    width: auto;
    height: auto;
    padding: 0;
    margin-left: 100px;
    border-radius: unset;
}

#issue2 p {
    text-align: center;
    width: 50%;
    margin: 10px auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.git-command {
    text-align: center;
    width: 10%;
    margin: auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 1px;

}
